name: Android Build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Find gradlew
        id: find_gradlew
        run: |
          GRADLEW_PATH=$(find . -type f -name "gradlew" | head -n 1)
          echo "path=${GRADLEW_PATH}" >> $GITHUB_OUTPUT

      - name: Make gradlew executable
        run: chmod +x "${{ steps.find_gradlew.outputs.path }}"

      - name: Build Release APK
        run: "${{ steps.find_gradlew.outputs.path }}" assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/*.apk
